
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#f9f7f3;
}

header{
    width: 100%;
    background-color:#e3dac9;
    height: auto;
  
} 
header > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
}

header > div > h1 {
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-weight: 650;
    font-style: normal;
}

header> div> img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px #f9f7f3;
    margin-top: 40px;
}
nav{
   height: 3rem;
   justify-content: center;
   align-self: center;
}
nav > ul {
    list-style: none;
    padding: 0;
    margin-left: 9rem;
    flex-wrap: wrap;
    
}
hr{
    color: bisque;
    margin: 1rem;
}

nav > ul > li {

    display: inline;
    margin: 1rem;
    color: #000000;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    border: 2px  double;
    padding: 7px;
    border-radius: 20px;
  
}

nav > ul > li:hover{
    background-color: #856249;
    color: #fff;
    cursor: pointer;
}
.icon{
    color: #fff;
    height: 1rem;
    width: 1rem;
    margin: 5px;
}

.cityregistration{
    background-color: #f1ede3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    flex-wrap: wrap;
}
select{
    border: none;
    background-color:#e3dac9;
    padding: 0.4rem;
    border-radius: 20px;
}
input{
    border: none;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: #e3dac9;
}
input:focus{
    border: #d6b8fa;
}
label{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal
}
.continer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 20rem;
    height: 15rem;
    margin: 3rem;
    border-radius: 1rem;
}
.card > .title{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    background-color: #bb9f7c;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}
.card> img{
    width: 100%;
    height: 76%;
    border-bottom-left-radius:1rem ;
    border-bottom-right-radius:1rem ;
}
footer{
    margin-top: 3rem;
    background-color: #e3dac9;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconF{
   margin: 2rem;
   height: 3rem;
   width: 3rem;
}

@media screen and (max-width: 446px) {
    .cityregistration> #people {
      margin-right: 2rem;
    }
    .cityregistration > #cities{
        margin-right: 10rem;
        margin-bottom:1rem ;
    }.cityregistration > #day{
        margin-right: 10rem;
        margin-bottom:1rem 
    }
    header{
        height: 8rem;
    }
    nav{
        display: none;
    }
}
@media screen and (max-width: 814px){
    nav{
        display: none;
    }
}